body{
    background: url(https://th.bing.com/th/id/OIP.FjY-v77ba_gESTt46lAsxwHaEo?pid=ImgDet&rs=1);
    background-repeat: no-repeat;
    background-size: cover;

}
.uno{
    width: 200px;
    height: 200px;
    
}
.dos{
    width: 150px;
    height: 150px;
}
.tres{
    width: 220px;
    height: 220px;
}
.cuatro{
    width: 300px;
    height: 300px;
}